.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(97, 97, 97);
  padding: 2rem;
  border-radius: 12px;
  gap: 8px;
}

.label {
  display: flex;
  width: 100%;
  gap: 8px;
}

.select {
  width: 100%;
}
