.card {
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;
  background-color: lightgrey;
  display: inline-flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px 5px;
  min-width: 100%;
}

.genre {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
}

.yearRating {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.mainInfo {
  display: flex;
  gap: 0.5rem;
}

.poster {
  max-width: 7rem;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.button:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.subInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
